{{ include('admin._inc._header', {title: 'Dashboard'}) }}

<!-- Body main section starts -->

<main>
    <div class="container-fluid">

        <!-- Breadcrumb start -->
        <div class="row m-1">
            <div class="col-12 ">
                <h4 class="main-title">Dashboard</h4>
                <ul class="app-line-breadcrumbs mb-3">
                    <li class="active">
                        <a class="f-s-14 f-w-500" href="/dashboard">
                        <span>
                          <i class="ph-duotone  ph-stack f-s-16"></i> Dashboard
                        </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb end -->

        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Latest API Requests</h5>
                    </div>
                    <div class="card-body">
                        <div>
                            <div id="api_graph"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card api-eshop-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Corn Remittances</h6>
                                    <div class="dropdown bg-light-primary h-40 w-40 d-flex-center b-r-15">
                                        <i class="ph ph-user-circle-gear f-s-20"></i>
                                    </div>
                                </div>
                                <h3>{{ total_corn_remittances }}</h3>
                                <p class="text-success mt-3 f-s-16 f-w-500 mb-0"><i
                                        class="ph-bold  ph-arrow-up-right text-success f-s-20"></i>{{ sum_corn_remittance_totals }}
                                    <span class="text-secondary f-s-16 f-w-200">total </span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card api-eshop-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Soybean Remittances</h6>
                                    <div class="dropdown bg-light-success h-40 w-40 d-flex-center b-r-15">
                                        <i class="ph ph-users-three f-s-20"></i>
                                    </div>
                                </div>
                                <h3>{{ total_soybean_remittances }}</h3>
                                <p class="text-success mt-3 f-s-16 f-w-500 mb-0"><i
                                        class="ph-bold  ph-arrow-up-right text-success f-s-20"></i>{{ sum_soybean_remittance_totals }}
                                    <span class="text-secondary f-s-16 f-w-200">total </span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card api-eshop-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Submissions</h6>
                                    <div class="dropdown bg-light-success h-40 w-40 d-flex-center b-r-15">
                                        <i class="ph ph-users-three f-s-20"></i>
                                    </div>
                                </div>
                                <h3>{{ total_submissions }}</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card api-eshop-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>All Remittances</h6>
                                    <div class="dropdown bg-light-success h-40 w-40 d-flex-center b-r-15">
                                        <i class="ph ph-users-three f-s-20"></i>
                                    </div>
                                </div>
                                <h3>{{ total_remittances }}</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card api-eshop-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Users</h6>
                                    <div class="dropdown bg-light-danger h-40 w-40 d-flex-center b-r-15">
                                        <i class="ph ph-check-circle f-s-20"></i>
                                    </div>
                                </div>
                                <h3 class="mb-3">{{ total_users }}</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card api-eshop-card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>API Requests</h6>
                                    <div class="dropdown bg-light-warning h-40 w-40 d-flex-center b-r-15">
                                        <i class="ph ph-file-arrow-down f-s-20"></i>
                                    </div>
                                </div>
                                <h3 class="mb-3">{{ total_api_requests }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="table-responsive app-scroll app-datatable-default">
                            <table class="w-100 display apikey-data-table table-bottom-border"
                                   id="apikeydtatable">
                                <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Route</th>
                                    <th>Status</th>
                                    <th>Method</th>
                                    <th>Date</th>
                                </tr>
                                </thead>
                                <tbody id="api_key_body">
                                {% for log in api_logs %}
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div
                                                    class="h-30 w-30 d-flex-center b-r-50 overflow-hidden text-bg-primary me-2">
                                                    <img alt="" class="img-fluid"
                                                         src="{{ Avatar.create(log.user.email).toGravatar() }}">
                                                </div>
                                                {{ log.user.name }}
                                            </div>
                                        </td>
                                        <td>{{ log.request_route }}</td>
                                        <td data-order="{{ log.response_status_code }}">
                                            @if($log->response_status_code == 200)
                                                <span class="badge text-bg-success">{{ log.response_status_code }} </span>
                                            @elseif($log->response_status_code == 404)
                                                <span class="badge text-bg-warning">{{ log.response_status_code }}</span>
                                            @else
                                                <span class="badge text-bg-danger">{{ log.response_status_code }}</span>
                                            @endif
                                        </td>
                                        <td>{{ log.method }}</td>
                                        <td data-order="{{ log.created_at }}">{{ log.created_at.format('M j, Y h:i:s A') }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- student list tabel 2-->
    </div>

</main>

{#
<!-- Body main section ends --><p>Welcome, {{ Auth::user()->name }}!</p>

<a href="{{ route('logout') }}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
    Logout
</a>

{{ route('users.show', 1) }}

<a href="{{ route('account.edit') }}">Account</a>

<form id="logout-form" action="{{ route('logout') }}" method="POST">
    @csrf
</form>

@can('edit articles')
    //
@endcan
#}
{{ include('admin._inc._footer', {include_apex: 'true'}) }}
