{{ include('admin._inc._header', {title: 'Media Library'}) }}
<main>
    <div class="container-fluid">
        <!-- Breadcrumb start -->
        <div class="row m-1">
            <div class="col-12 ">
                <h5>Media</h5>
                <div class="col-6 ">
                    <ul class="app-line-breadcrumbs mb-3">
                        <li class="">
                            <a class="f-s-14 f-w-500" href="{{ route('dashboard') }}">
                                <span>
                                    <i class="ph-duotone  ph-table f-s-16"></i> Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a class="f-s-14 f-w-500" href="{{ route('media.libraries') }}">Media</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb end -->
        {{ include('admin._inc._message') }}

        <div class="row table-section">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Manage Media Libraries</h5>
                                <p>You can manage all Media Libraries from here.</p>
                            </div>
                            <div class="col-6">
                                <p class="float-right text-end">
                                    <a href="{{ route('media.libraries.create') }}" class="btn btn-primary">Add Media Libraries</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table align-middle mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Files</th>
                                    <th scope="col">Last Modified</th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if libraries.count >= 1 %}
                                    {% for library in libraries %}
                                        <tr>
                                            <td>{{ library.name }}</td>
                                            <td class="f-w-500">
                                                {{ library.media.count() }}
                                            </td>
                                            <td class="text-secondary f-w-600">
                                                {{ library.updated_at.format('F j, Y') }}
                                            </td>
                                            <td>
                                                {{ library.created_at.format('F j, Y') }}
                                            </td>
                                            <td>
                                                <a class="btn btn-primary icon-btn b-r-4"
                                                   href="{{ route('media.libraries.show', library) }}">
                                                    <i class="ti ti-eye"></i>
                                                </a>
                                                <a class="btn btn-success icon-btn b-r-4"
                                                   href="{{ route('media.libraries.edit', library) }}">
                                                    <i class="ti ti-edit"></i>
                                                </a>
                                                <a class="btn btn-danger icon-btn b-r-4"
                                                   href="{{ route('media.libraries.confirm', library) }}">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5">
                                            <p class="text-center">
                                                No Media Libraries Created. <br />
                                                <a href="{{ route('media.libraries.create') }}" class="btn btn-outline-primary">Create Media Libraries</a>
                                            </p>
                                        </td>
                                    </tr>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                {{ libraries.links() }}
            </div>
        </div>

    </div>
</main>

{{ include('admin._inc._footer') }}
