{{ include('admin._inc._header', {title: 'Media Library'}) }}
<main>
    <div class="container-fluid">
        <!-- Breadcrumb start -->
        <div class="row m-1">
            <div class="col-12 ">
                <h5>Media Libraries</h5>
                <div class="col-6 ">
                    <ul class="app-line-breadcrumbs mb-3">
                        <li class="">
                            <a class="f-s-14 f-w-500" href="{{ route('dashboard') }}">
                                <span>
                                    <i class="ph-duotone  ph-table f-s-16"></i> Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="f-s-14 f-w-500" href="{{ route('media.libraries') }}">Media Libraries</a>
                        </li>
                        <li class="active">
                            <a class="f-s-14 f-w-500" href="{{ route('media.libraries.show', library) }}">{{ library.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb end -->
        {{ include('admin._inc._message') }}

        <div class="row">
            {{ include('admin.media._sidebar', {active: library.id}) }}
            <div class="col-lg-8 col-xxl-9">
                <div class="tab-content">
                    <div aria-labelledby="profile-tab" class="tab-pane fade active show"
                         id="profile-tab-pane"
                         role="tabpanel" tabindex="0">
                        <div class="card setting-profile-tab">
                            <div class="card-header">
                                <h5>Uploaded Media</h5>
                                <div class="col-12">
                                    <p class="float-right text-end">
                                        <a href="{{ route('media.create', library) }}" class="btn btn-primary">Upload
                                            Media</a>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="profile-tab profile-container">
                                    {% if media.count >= 1 %}
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Disk</th>
                                                    <th scope="col">Mime</th>
                                                    <th scope="col">Last Modified</th>
                                                    <th scope="col">Created</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for file in media %}
                                                    <tr>
                                                        <td>{{ file.name }}</td>
                                                        <td class="">
                                                            {{ file.disk }}
                                                        </td>
                                                        <td class="f-w-500">
                                                            File Type
                                                        </td>
                                                        <td class="text-secondary f-w-600">
                                                            {{ file.updated_at.format('F j, Y') }}
                                                        </td>
                                                        <td>
                                                            {{ file.created_at.format('F j, Y') }}
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-primary icon-btn b-r-4"
                                                               href="{{ route('media.show', file) }}">
                                                                <i class="ti ti-eye"></i>
                                                            </a>
                                                            <a class="btn btn-success icon-btn b-r-4"
                                                               href="{{ route('media.edit', file) }}">
                                                                <i class="ti ti-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger icon-btn b-r-4"
                                                               href="{{ route('media.confirm', file) }}">
                                                                <i class="ti ti-trash"></i>
                                                            </a>
                                                            <a class="btn btn-warning icon-btn b-r-4"
                                                               href="{{ route('media.download', file) }}">
                                                                <i class="ti ti-download"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p class="text-center">
                                            No Media Uploaded yet <br />
                                            <a href="{{ route('media.create', library) }}" class="btn btn-outline-primary">Upload Media</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ media.links() }}
            </div>
        </div>
    </div>
</main>
{{ include('admin._inc._footer') }}
