{{ include('admin._inc._header', {title: 'Field Groups'}) }}
<main>
    <div class="container-fluid">
        <!-- Breadcrumb start -->
        <div class="row m-1">
            <div class="col-12 ">
                <h5>Field Groups</h5>
                <div class="col-6 ">
                    <ul class="app-line-breadcrumbs mb-3">
                        <li class="">
                            <a class="f-s-14 f-w-500" href="{{ route('dashboard') }}">
                                <span>
                                    <i class="ph-duotone  ph-table f-s-16"></i> Dashboard
                                </span>
                            </a>
                        </li>
                        <li class="active">
                            <a class="f-s-14 f-w-500" href="{{ route('fields.groups') }}">Field Groups</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb end -->
        {{ include('admin._inc._message') }}

        <div class="row table-section">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>Manage Field Groups</h5>
                                <p>You can manage all Field Groups from here.</p>
                            </div>
                            <div class="col-6">
                                <p class="float-right text-end">
                                    <a href="{{ route('fields.groups.create') }}" class="btn btn-primary">Add Field Group</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table align-middle mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Fields</th>
                                    <th scope="col">Last Modified</th>
                                    <th scope="col">Created</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if groups.count >= 1 %}
                                    {% for group in groups %}
                                        <tr>
                                            <td>{{ group.name }}</td>
                                            <td class="f-w-500">
                                                {{ group.fields.count() }}
                                            </td>
                                            <td class="text-secondary f-w-600">
                                                {{ group.updated_at.format('F j, Y') }}
                                            </td>
                                            <td>
                                                {{ group.created_at.format('F j, Y') }}
                                            </td>
                                            <td>
                                                <a class="btn btn-primary icon-btn b-r-4"
                                                   href="{{ route('fields.groups.show', group) }}">
                                                    <i class="ti ti-eye"></i>
                                                </a>
                                                <a class="btn btn-success icon-btn b-r-4"
                                                   href="{{ route('fields.groups.edit', group) }}">
                                                    <i class="ti ti-edit"></i>
                                                </a>
                                                <a class="btn btn-danger icon-btn b-r-4"
                                                   href="{{ route('fields.groups.confirm', group) }}">
                                                    <i class="ti ti-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="6">
                                            <p class="text-center">
                                                No Field Groups Created. <br />
                                                <a href="{{ route('fields.groups.create') }}" class="btn btn-outline-primary">Create Field Group</a>
                                            </p>
                                        </td>
                                    </tr>
                                {% endif %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                {{ fields.links() }}
            </div>
        </div>

    </div>
</main>

{{ include('admin._inc._footer') }}
