{{ include('admin._inc._header', {title: 'View Category Group'}) }}
<main>
    <div class="container-fluid">
        <!-- Breadcrumb start -->
        <div class="row m-1">
            <div class="col-12 ">
                <h4 class="main-title">Category Group</h4>
                <ul class="app-line-breadcrumbs mb-3">
                    <li class="">
                        <a class="f-s-14 f-w-500" href="{{ route('dashboard') }}">
                                <span>
                                    <i class="ph-duotone  ph-table f-s-16"></i> Dashboard
                                </span>
                        </a>
                    </li>
                    <li class="">
                        <a class="f-s-14 f-w-500" href="{{ route('categories.groups') }}">Category Groups</a>
                    </li>
                    <li class="active">
                        <a class="f-s-14 f-w-500" href="{{ route('categories.groups.show', group) }}">{{ group.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb end -->
        {{ include('admin._inc._message') }}
        <!-- setting-app start -->
        <div class="row">
            {{ include('admin.user.layout._sidebar', {active: group.id}) }}
            <div class="col-lg-8 col-xxl-9">
                <div class="tab-content">
                    <div aria-labelledby="profile-tab" class="tab-pane fade active show"
                         id="profile-tab-pane"
                         role="tabpanel" tabindex="0">
                        <div class="card setting-profile-tab">
                            <div class="card-header">
                                <h5>Categories</h5>
                                <div class="col-12">
                                    <p class="float-right text-end">
                                        <a href="{{ route('categories.create', {group_id: group.id}) }}" class="btn btn-primary">Create
                                            Category</a>
                                    </p>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="profile-tab profile-container">
                                    {% if categories.count >= 1 %}
                                        <div class="table-responsive">
                                            <table class="table align-middle mb-0">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Slug</th>
                                                    <th scope="col">Last Modified</th>
                                                    <th scope="col">Created</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for category in categories %}
                                                    <tr>
                                                        <td>{{ category.name }}</td>
                                                        <td class="f-w-500">
                                                            {{ category.handle }}
                                                        </td>
                                                        <td class="text-secondary f-w-600">
                                                            {{ category.updated_at.format('F j, Y') }}
                                                        </td>
                                                        <td>
                                                            {{ category.created_at.format('F j, Y') }}
                                                        </td>
                                                        <td>
                                                            <a class="btn btn-primary icon-btn b-r-4"
                                                               href="{{ route('categories.show', category) }}">
                                                                <i class="ti ti-eye"></i>
                                                            </a>
                                                            <a class="btn btn-success icon-btn b-r-4"
                                                               href="{{ route('categories.edit', category) }}">
                                                                <i class="ti ti-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger icon-btn b-r-4"
                                                               href="{{ route('categories.confirm', category) }}">
                                                                <i class="ti ti-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <p class="text-center">
                                            No Categories Created. <br />
                                            <a href="{{ route('categories.create', {group_id: group.id}) }}" class="btn btn-outline-primary">Create Category</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--setting app end -->
    </div>
</main>
{{ include('admin._inc._footer') }}
